@model IEnumerable<Person>;

@{
    ViewData["Title"] = "Index";
}


<a class="btn btn-primary " asp-action="Create" role="button">Create new Person</a> 

<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                   @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
             <th>
                   @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
             <th>
                   @Html.DisplayNameFor(model => model.BirthAdress)
            </th>
            <th>
                   @Html.DisplayNameFor(model => model.IsGraduated)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            
             <td>
               @Html.ActionLink(item.FirstName+" " + item.LastName, "Detail", "Home", new  { id = item.ID }) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGraduated)
            </td>
     <td>
          @Html.ActionLink("Update  ", "Update", "Home", new { id = item.ID } , new {@class= "btn btn-primary"}) 
               
              
     </td>
        </tr>
}
    </tbody>
</table>